@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
  --animate-spin-slow: spin-slow 12s linear infinite;
  --animate-bounce-slow: bounce-slow 3s infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
